
{% extends "wagtailadmin/base.html" %}
{% load wagtailusers_tags static compress i18n %}

{% block titletag %}{% trans "Relevancy" %} {{ request.user.get_full_name }}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'wagtailusers/css/groups_edit.css' %}" type="text/css" />
    {% endcompress %}
{% endblock %}

{% block content %}

    {% trans "Relevancy" as relevancy_str %}
    {% include "wagtailadmin/shared/header.html" with title=relevancy_str subtitle=request.user.get_full_name icon="doc-full" %}

    <div class="nice-padding">
        <form action="" method="POST">
            {% csrf_token %}

            <ul class="fields">
                <li>
                    {% include "wagtailrelevancy/preference_formset.html" with formset=formset only %}
                </li>
                <li>
                    <input type="submit" value="{% trans 'Save Preferences' %}" />
                </li>
            </ul>

        </form>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% include "wagtailrelevancy/reminder_form_js.html" %}
{% endblock %}
