{% load i18n wagtailadmin_tags %}
<div class="panel nice-padding">{# TODO try moving these classes onto the section tag #}
    <section>
        <h2>{% trans 'Pages awaiting review' %}</h2>
        <table class="listing">
            <col />
            <col width="30%"/>
            <col width="15%"/>
            <col width="15%"/>
            <thead>
                <tr>
                    <th class="title">{% trans "Title" %}</th>
                    <th>{% trans "Parent" %}</th>
                    <th>{% trans "Type" %}</th>
                    <th>{% trans "Last edited" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for reminder in reminders %}
                    <tr>
                        <td class="title" valign="top">
                            <h2>
                                <a href="{% url 'wagtailadmin_pages:edit' reminder.page.id %}" title="{% trans 'Edit this page' %}">{{ reminder.page.title }}</a>
                            </h2>
                            <ul class="actions">
                                <li><a href="{% url 'wagtailrelevancy_review' pk=reminder.pk %}" class="button button-small button-primary">{% trans 'Mark as reviewed' %}</a></li>
                                <li><a href="{% url 'wagtailadmin_pages:edit' reminder.page.id %}" class="button button-small button-secondary">{% trans 'Edit' %}</a></li>
                                <li><a href="{{reminder.page.url}}" class="button button-small button-secondary">{% trans 'Live' %}</a></li>
                            </ul>
                        </td>
                        <td valign="top">
                            <a href="{% url 'wagtailadmin_explore' reminder.page.get_parent.id %}">{{ reminder.page.get_parent.title }}</a>
                        </td>
                        <td class="type" valign="top">
                            {{ reminder.page.content_type.model_class.get_verbose_name }}
                        </td>
                        <td valign="top">
                            <div class="human-readable-date" title="{{ reminder.due_to_be_sent_at|date:"d M Y H:i" }}">{{ reminder.due_to_be_sent_at|timesince }} ago </div>
                            by {{ reminder.user.username }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>
